<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonsterNames</key>
	<array>
		<string>Cavehood</string>
		<string>Vaporspawn</string>
		<string>Mornspawn</string>
		<string>Baneman</string>
		<string>Blazeface</string>
		<string>Venomnhag</string>
		<string>Dawntooth</string>
		<string>Vilepest</string>
		<string>Mornbody</string>
		<string>Murkghoul</string>
		<string>Slagpod</string>
		<string>Grim</string>
		<string>Stenchsword</string>
		<string>Abyssal</string>
		<string>Abyssdemon</string>
		<string>Duskmorph</string>
		<string>Tombface</string>
		<string>Thornman</string>
		<string>Gasling</string>
		<string>Cthulu</string>
		<string>Umbrascreamer</string>
		<string>Foulling</string>
		<string>Grieveman</string>
		<string>Cursefiend</string>
		<string>Mistchild</string>
		<string>Duskman</string>
		<string>Chaosbug</string>
		<string>Nethertaur</string>
		<string>Dreampod</string>
		<string>Bonefigure</string>
		<string>Banefigure</string>
		<string>Bone Goblin</string>
		<string>Spiritling</string>
		<string>Vexwings</string>
		<string>Decayhood</string>
		<string>Cinderghoul</string>
		<string>Foulface</string>
		<string>Tombmutant</string>
		<string>Metalcrackle</string>
		<string>Gasstep</string>
		<string>Gallfang</string>
		<string>Dawnpod</string>
		<string>Horrorstrike</string>
		<string>Mournwraith</string>
		<string>Acidfiend</string>
		<string>Cryptstrike</string>
		<string>Toxinthing</string>
		<string>Putridstep</string>
		<string>Goblin Warrior</string>
		<string>Goblin Scout</string>
	</array>
	<key>AbilityNames</key>
	<array>
		<dict>
			<key>Damage</key>
			<integer>40</integer>
			<key>Name</key>
			<string>Gunguir</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>45</integer>
			<key>Name</key>
			<string>Mjolnir</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>47</integer>
			<key>Name</key>
			<string>Excalibur</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>23</integer>
			<key>Name</key>
			<string>Ice Spear</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>30</integer>
			<key>Name</key>
			<string>Warlock Punch</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>20</integer>
			<key>Name</key>
			<string>High Jump Kick</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>35</integer>
			<key>Name</key>
			<string>Dempsy Roll</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>20</integer>
			<key>Name</key>
			<string>Lightning Kick</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>18</integer>
			<key>Name</key>
			<string>Fore&apos;s Wind</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>17</integer>
			<key>Name</key>
			<string>Layru&apos;s Nove</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>22</integer>
			<key>Name</key>
			<string>Fin&apos;s Dire</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>100</integer>
			<key>Name</key>
			<string>Wobbling</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>25</integer>
			<key>Name</key>
			<string>Starspell</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>-5</integer>
			<key>Name</key>
			<string>Chocolate</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>16</integer>
			<key>Name</key>
			<string>Flash</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>14</integer>
			<key>Name</key>
			<string>Divekick</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>24</integer>
			<key>Name</key>
			<string>Serpent Sword</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>15</integer>
			<key>Name</key>
			<string>Bair</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>16</integer>
			<key>Name</key>
			<string>Glair</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>23</integer>
			<key>Name</key>
			<string>Reppuu</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>-8</integer>
			<key>Name</key>
			<string>Pills</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>30</integer>
			<key>Name</key>
			<string>Dragrin</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>7</integer>
			<key>Name</key>
			<string>Sparkles</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>6</integer>
			<key>Name</key>
			<string>Knee</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>69</integer>
			<key>Name</key>
			<string>Falcon Punch</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>14</integer>
			<key>Name</key>
			<string>Cargo Throw</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>4</integer>
			<key>Name</key>
			<string>Banana Peel</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>29</integer>
			<key>Name</key>
			<string>Wurmslayer</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>28</integer>
			<key>Name</key>
			<string>Flux</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>27</integer>
			<key>Name</key>
			<string>Shine</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>18</integer>
			<key>Name</key>
			<string>Needles</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>43</integer>
			<key>Name</key>
			<string>Haxblaster</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>17</integer>
			<key>Name</key>
			<string>Poison Darts</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>13</integer>
			<key>Name</key>
			<string>Crossbow</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>16</integer>
			<key>Name</key>
			<string>Spear</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>18</integer>
			<key>Name</key>
			<string>Axe</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>14</integer>
			<key>Name</key>
			<string>Katana</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>6</integer>
			<key>Name</key>
			<string>Mythril Dagger</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>3</integer>
			<key>Name</key>
			<string>Knife</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Mace</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>15</integer>
			<key>Name</key>
			<string>Whirlwind</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>15</integer>
			<key>Name</key>
			<string>Lightning</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>15</integer>
			<key>Name</key>
			<string>Inferno</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>15</integer>
			<key>Name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>20</integer>
			<key>Name</key>
			<string>Anime</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>5</integer>
			<key>Name</key>
			<string>Same</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>100</integer>
			<key>Name</key>
			<string>Mario Fair</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>70</integer>
			<key>Name</key>
			<string>Yoshis Eggs</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Didn&apos;t ask</string>
		</dict>
	</array>
</dict>
</plist>
